@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 50%;
    font-family: "Fira Sans", sans-serif;
}

body {
    background-color: #071952;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    width: 100%;
}

.header-container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F5F7F8;
    gap: 10px;
}

.header-container .logo {
    width: 20%;
    height: auto;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.logo h1 {
    font-size: 3rem;
    font-weight: 800;
    color: #050C9C;
    letter-spacing: 4px;
}

.header-container .navbar-container {
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-container ul {
    display: flex;
    gap: 40px;
}

.navbar-container ul li {
    list-style: none;
    font-size: 2.5rem;
    font-weight: 600;
    color: #B1AFFF;
    transition: all 0.5s ease;
}

.navbar-container ul li:hover {
    color: #071952;
}

.header-container .user-container {
    width: 20%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-container .user {
    width: auto;
    height: auto;
    padding: 10px 15px;
    font-size: 2rem;
    background-color: #B1AFFF;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    transition: all 0.5s ease;
}

.user:hover {
    background-color: #071952;
    color: white;
    transform: translateY(-10px);
}

.product-catalog {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.product-list {
    margin: 60px 0px 20px 40px;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product-item {
    width: calc(33.33% - 20px);
    background-color: aliceblue;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: all 0.3s linear;
}

.product-item:hover {
    border: 2px solid #44566c;
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-item img {
    width: 100%;
    height: 200px;
    border-radius: 5px 5px 0 0;
}

.detail-container {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detail-container h2,
.detail-container p {
    margin: 0;
}

.detail-container h2 {
    color: #071952;
    font-size: 2rem;
    font-weight: 600;
}

.detail-container p {
    color: red;
    font-size: 2rem;
    font-weight: 700;
}

.btn-container {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.btn {
    width: 90%;
    padding: 15px;
    border: none;
    background-color: #b1afff;
    color: #f5f7f8;
    font-size: 1.8rem;
    font-weight: 500;
    border-radius: 5px;
    transition: all 0.5s ease;
}

.btn:hover {
    background-color: #071952;
    color: white;
    transform: translateY(-3px);
}

.shopping-cart {
    margin: 60px 20px 20px 0px;
    width: 30%;
    height: auto;
    background-color: #B1AFFF;
    border-radius: 5px;
}

.shopping-cart h2 {
    margin: 30px 0px 10px 0px;
    text-align: center;
    font-size: 3rem;
    color: white;
    font-weight: 700;
}

.shopping-cart p {
    margin: 0px 0px 0px 10px;
    font-size: 2rem;
    color: #071952;
    font-weight: 600;
}

.shopping-cart ul li {
    padding: 10px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 10px;
}

.shopping-cart ul li p {
    font-size: 2rem;
    color: #071952;
    font-weight: 600;
    list-style: none;
}

.shopping-cart ul li button {
    width: 40%;
    padding: 5px 10px;
    border: none;
    background-color: red;
    color: #f5f7f8;
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 5px;
    transition: all 0.5s ease;
}

ul li button:hover {
    background-color: orange;
    color: white;
    transform: translateY(-3px);
}

.shopping-cart h3 {
    margin: 20px 0px 0px 10px;
    font-size: 1.5rem;
    color: #071952;
    font-weight: 600;
}

::-webkit-scrollbar {
    width: 5px;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: #b7b7b7;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #44566c;
    border-radius: 10px;
    transition: all 0.5s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: #fa5252;
}

@media (max-width: 1024px) {
    .header-container .logo {
        width: 20%;
        height: auto;
        height: 70px;
        display: flex;
        align-items: center;
        margin-left: 10px;
    }

    .logo h1 {
        font-size: 2.5rem;
        letter-spacing: 2px;
    }

    .product-list {
        margin: 40px 0px 20px 20px;
        width: 90%;
        justify-content: center;
        gap: 15px;
    }

    .product-item {
        width: calc(50% - 15px);
    }


    .shopping-cart {
        margin: 20px 10px 20px 10px;
        width: 100%;
    }

    .shopping-cart h2 {
        text-align: center;
        font-size: 4rem;
    }

    .shopping-cart p {
        margin: 0px 0px 0px 10px;
        font-size: 1.5rem;
    }

    .shopping-cart ul li {
        padding: 10px;
        width: 100%;
        height: auto;
        gap: 10px;
    }

    .shopping-cart ul li p {
        font-size: 2rem;
    }

    .shopping-cart ul li button {
        width: 20%;
        padding: 10px 20px;
        font-size: 2rem;
    }

    .shopping-cart h3 {
        margin: 20px 0px 0px 20px;
        font-size: 2rem;
    }
}

@media (max-width: 768px) {
    .header-container {
        gap: 5px;
        padding: 10px;
    }

    .header-container .logo {
        width: 100%;
        align-items: center;
    }

    .header-container .logo h1 {
        font-size: 1.7rem;
        font-weight: 600;
        letter-spacing: 2px;
        white-space: nowrap;
    }

    .header-container .navbar-container {
        width: 100%;
        justify-content: center;
    }

    .header-container .navbar-container ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .navbar-container ul li {
        font-size: 1rem;
        font-weight: 600;
    }

    .header-container .user-container {
        width: 100%;
        justify-content: center;
    }

    .user-container .user {
        padding: 10px;
        font-size: 1.5rem;
        font-weight: 600;
    }

    .product-list {
        margin: 20px 0px 20px 10px;
        width: 100%;
        justify-content: center;
        gap: 10px;
    }

    .product-item {
        width: calc(100% - 10px);
    }

    .btn {
        width: 80%;
    }

    .shopping-cart {
        margin: 20px 10px 20px 10px;
        width: 100%;
    }

    .shopping-cart h2 {
        text-align: center;
        font-size: 2rem;
    }

    .shopping-cart p {
        margin: 0px 0px 0px 10px;
        font-size: 1.5rem;
    }

    .shopping-cart ul li {
        padding: 10px;
        width: 100%;
        height: auto;
        gap: 10px;
    }

    .shopping-cart ul li p {
        font-size: 1.2rem;
    }

    .shopping-cart ul li button {
        width: 40%;
        font-size: 1rem;
    }
}